.root-theme {
    -fx-background-color: #24273a;
}

.color-picker-grid {
    -fx-padding: 30px;
    -fx-background-color: #363a4f;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.color-picker-button {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-radius: 100%;
    -fx-border-width: 2px;
    -fx-border-radius: 100%;
}